<!DOCTYPE html>
<html lang="Ru-ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Действующие врачи компании Центр военного права обладают сертификатами на осуществление медицинской деятельности и систематически подтверждают свою квалификацию, проходя профессиональную переподготовку.">
  <title>Поможем получить военный билет по закону</title>
  <link rel="stylesheet" href="assets/styles/main.min.css">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter49980610 = new Ya.Metrika2({
            id: 49980610,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
          });
        } catch (e) {}
      });
      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";
      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks2");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/49980610" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="header-burger">
    <a class="logo__burger logo__burger_outer" href="/index.html">
      <svg class="burger__img">
        <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
      </svg>
    </a>
    <div class="menu-bg"></div>
    <div class="menu-burger">⚌</div>
    <div class="menu-items">
      <div class="container container-burger">
        <a class="logo__burger" href="/index.html">
          <svg class="burger__img">
            <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
          </svg>
        </a>
        <div class="menu-wrapper">
          <a class="menu__link menu__link_include">О компании</a>
          <a class="menu__link" href="/docs.html">Правовая документация</a>
          <a class="menu__link" href="#questions">FAQ</a>
          <a class="menu__link" href="/contacts.html">Контакты</a>
        </div>
        <div class="submenu-wrapper">
          <a class="back-button">
            <i class="fas fa-arrow-left"></i> назад</a>
          <a class="menu__link" href="/history.html">История ЦВП</a>
          <a class="menu__link" href="/command.html">Команда</a>
        </div>
        <div class="phone phone_burger">
          <span class="phone__lead">звонок бесплатный</span>
          <div class="phone-number phone-number_burger">8 800 707 0582</div>
        </div>
      </div>
    </div>
  </header>
  <header class="header header_team">
    <div class="container container-header">
      <div class="header-content">
        <div class="logo">
          <a class="logo__link" href="/index.html">
            <svg class="logo__img">
              <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
            </svg>
          </a>
          <img src="assets/images/cvp-logo-fallback.png" alt="" class="logo__img-fallback">
          <div class="logo-line"></div>
          <div class="phone">
            <span class="phone__lead">звонок бесплатный</span>
            <div class="phone-number">8 800 707 0582</div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav__item nav__item_include">
            <a class="nav__link nav__link_include">О компании</a>
            <ul class="nav__submenu">
              <li class="nav__submenu-item">
                <a href="/history.html" class="nav__link">История ЦВП</a>
              </li>
              <li class="nav__submenu-item">
                <a href="/command.html" class="nav__link">Команда</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/docs.html">Правовая документация</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="assets/documents/78qa.pdf">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contacts.html">Контакты</a>
          </li>
        </ul>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="https://vk.com/centrvp_voenniy_bilet ">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_vk"></use>
              </svg>
              <i class="social__img-fallback fab fa-vk"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/groups/569063339957441/about">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_fb"></use>
              </svg>
              <i class="social__img-fallback fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/channel/UCujSx1JvknDILf9wQjDrObQ">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_youtube"></use>
              </svg>
              <i class="social__img-fallback fab fa-youtube"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/centrvp">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_ig"></use>
              </svg>
              <i class="social__img-fallback fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="header__border"></div> -->
  </header>
  <section class="hero">
    <div class="container container-hero">
      <h1 class="hero__heading">Экспертная
        <br>команда</h1>
      <div class="director">
        <div class="director__photo_mobile">
          <img src="assets/images/zinchenko-shield.png" alt="" class="director__photo_mobile_img">
        </div>
        <div class="director__name">
          <span class="director__name-lastname">Зинченко </span>
          <p class="director__name-firstname">Николай
            <br>Викторович</p>
          <p class="director__role">основатель компании «Центр военного права»</p>
        </div>
        <div class="director__photo">
          <img src="assets/images/zinchenko.png" alt="" class="director__image">
        </div>
      </div>
      <div class="hero__block">
        <p class="hero__text hero__text_padding">Родился в
          <strong>Уфе.</strong> Воспитывался в семье военных. Всю свою юность занимался спортом. После окончания школы поступил в
          Вольский Филиал Военной Академии Тыла и Транспорта
          <em>(Саратовская область).</em>
        </p>
      </div>
      <div class="hero__block hero__block_margin">
        <span class="hero__number">02</span>
        <p class="hero__text">
          <strong>В 2002 году,</strong> после завершения учебы, меня отправили служить в распоряжение командующего Северным флотом,
          в город
          <strong>Мурманск.</strong> Благодаря этому я объехал всю область, побывал на «Новой Земле» и на личном опыте узнал, что
          такое
          <strong>«военная служба».</strong>
        </p>
      </div>
      <div class="hero__block">
        <div class="hero__gallery">
          <div class="hero__list">
            <img src="assets/images/license_image-1.jpg" alt="" class="hero__img">
            <img src="assets/images/license_image-2.jpg" alt="" class="hero__img">
            <img src="assets/images/license_image-3.jpg" alt="" class="hero__img">
          </div>
          <div class="hero__arrows">
            <div class="hero__arrow hero__arrow-left">
              <div class="hero__arrow-bg"></div>
              <svg class="hero__arrow-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow-left"></use>
              </svg>
              <img src="assets/images/line-left-blue.png" alt="" class="hero__arrow-img-fallback">
            </div>
            <div class="hero__arrow hero__arrow-right">
              <div class="hero__arrow-bg"></div>
              <svg class="hero__arrow-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow-right"></use>
              </svg>
              <img src="assets/images/line-right-blue.png" alt="" class="hero__arrow-img-fallback">
            </div>
          </div>
          <div class="hero__progress">
            <a class="hero__progress-item hero__progress-item-1 hero__progress-item-active">
              <div class="hero__progress-bar hero__progress-bar-1"></div>
            </a>
            <a class="hero__progress-item hero__progress-item-2">
              <div class="hero__progress-bar hero__progress-bar-2"></div>
            </a>
            <a class="hero__progress-item hero__progress-item-3">
              <div class="hero__progress-bar hero__progress-bar-3"></div>
            </a>
          </div>
        </div>
        <div class="hero__block-text">
          <p class="hero__text">Расторгнув контракт с Министерством Обороны РФ, вернулся домой. В течение последующих 2х лет многие мои знакомые
            интересовались вопросом корректного расторжения договора. Чуть позже я начал, используя собственный опыт, консультировать
            молодых людей призывного возраста, у которых были проблемы со здоровьем. Отвечал на вопросы:
            <em>«Как правильно вести себя в военкомате?», «Как защищать свои права и интересы?» и помогал решать правовые вопросы.</em>
          </p>
          <p class="hero__text">Людей, которым нужна была помощь, становилось все больше, а интерес к такого рода услугам - стремительно рос.</p>
          <p class="hero__text">
            <strong>В 2012 году</strong> я принял решение о формировании собственной компании, основной специализацией которой стала
            помощь призывникам в реализации их законного права на получение освобождения от службы в армии. Так началась
            история
            <strong>Центра военного права</strong> в Уфе.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Specs -->
  <section class="specs">
    <div class="container">
      <h2 class="specs__heading">Ключевые специалисты</h2>
      <div class="specs__list">
        <div class="specs__item">
          <div class="specs__photo">
            <img class="specs__img" src="assets/images/sherstneva.png">
          </div>
          <div class="specs__info">
            <span class="specs__name">Светлана Николаевна Шерстнева</span>
            <span class="specs__role">врач-эксперт</span>
            <ul class="specs__desc">
              <li class="specs__desc-item">
                <span>эксперт по военно-врачебной экспертизе</span>
              </li>
              <li class="specs__desc-item">
                <span>травматолог-ортопед</span>
              </li>
              <li class="specs__desc-item">
                <span>более 20 лет службы в ВС РФ</span>
              </li>
              <li class="specs__desc-item">
                <span>ветеран боевых действий</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="specs__item">
          <div class="specs__photo">
            <img class="specs__img" src="assets/images/team-hismatullin.png">
          </div>
          <div class="specs__info">
            <span class="specs__name">Хисматуллин Марс Рамилевич</span>
            <span class="specs__role">главный юрист</span>
            <ul class="specs__desc">
              <li class="specs__desc-item">
                <span>руководитель юридического отдела</span>
              </li>
              <li class="specs__desc-item">
                <span>майор ВС РФ в запасе</span>
              </li>
              <li class="specs__desc-item">
                <span>заместитель начальника Военно-следственного отдела Уфимской военной прокуратуры</span>
              </li>
              <li class="specs__desc-item">
                <span>20 лет в Вооруженных силах РФ</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="specs__stats">
        <li class="specs__stats-item specs__stats-item_office">
          <span class="specs__stats-number">3</span>
          <span class="specs__stats-text">офисных
            <br> сотрудника</span>
        </li>
        <li class="specs__stats-item specs__stats-item_doctors">
          <span class="specs__stats-number">9</span>
          <span class="specs__stats-text">врачей</span>
        </li>
        <li class="specs__stats-item specs__stats-item_lawyers">
          <span class="specs__stats-number">2</span>
          <span class="specs__stats-text">юриста</span>
        </li>
        <li class="specs__stats-item specs__stats-item_overall">
          <span class="specs__stats-number">33</span>
          <span class="specs__stats-text">сотрудника
            <br> по всей России</span>
        </li>
      </ul>
      <div class="specs__text">
        <div class="specs__text-column">
          <p class="specs__text-block">Все врачи компании Центр военного права имеют действующие сертификаты на осуществление медицинской деятельности
            и систематически подтверждают свою квалификацию, проходя профессиональную переподготовку. Медицинские эксперты
            обладают персональными разрешениями на проведение НВВЭ. Помимо наших сотрудников, такими сертификатами обладают
            не больше 10 человек по всей Республике Башкортостан, в том числе и военные врачи, работающие в государственных
            системах.
          </p>
        </div>
        <div class="specs__text-column">
          <p class="specs__text-block">В арсенале каждого юриста – высшее юридическое образование и богатый опыт представления интересов своих подопечных
            в судах. </p>
          <p class="specs__text-block">Помимо этого, наши специалисты досконально знают все тонкости военно-правовой культуры, поэтому их компетенция
            позволит принять верное решение даже для самых сложных вопросов.</p>
        </div>
      </div>
    </div>
    <div class="specs__gallery">
      <img src="assets/images/specs-gallery-1.jpg" alt="" class="specs__gallery-img">
      <img src="assets/images/specs-gallery-2.jpg" alt="" class="specs__gallery-img">
    </div>
  </section>
  <section class="ask ask_team">
    <div class="container container-ask">
      <div class="ask-content">
        <h2 class="ask__heading ask__heading_team">Задайте вопрос нашему специалисту </h2>
        <form method="post" class="ask__form" id="team-form">
          <textarea class="ask__input ask__input_question" type="text" rows="1" placeholder="Задать вопрос"></textarea>
          <input class="ask__input ask__input_phone validate-phone-team" type="text" placeholder="Ваш телефон">
          <span class="warning-message">Телефон должен быть в формате +7(***)*******</span>
          <input class="ask__input ask__input_email validate-email-team" type="email" placeholder="Ваш e-mail">
          <span class="warning-message">Введите настоящий email</span>
          <button type="submit" name="submit" class="ask__submit button" onclick="yaCounter49980610.reachGoal('question');">Спросить</button>
        </form>
        <p class="ask__legal-text">Нажимая на кнопку, вы даете согласие на обработку персональных
          <br> данных и соглашаетесь с политикой конфиденциальности</p>
      </div>
      <img src="assets/images/voen_bilet_open.png" alt="" class="ask-image ask-image-1">
      <img src="assets/images/paper3.png" alt="" class="ask-image ask-image-2">
      <img src="assets/images/paper2.png" alt="" class="ask-image ask-image-3">
      <img src="assets/images/know_3.png" alt="" class="ask-image ask-image-4">
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer__left">
          <a class="footer__link footer__link-confidential" href="assets/documents/confidential.pdf">Политика конфиденциальности</a>
          <a class="footer__link footer__link-agrement" href="assets/documents/datausage.pdf">Согласие с рассылкой</a>
          <span class="footer__copyright">© 2018, «Центр Военного Права».</span>
        </div>
        <div class="footer__center">
          <div class="footer__logo">
            <svg class="footer__logo-img">
              <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_footer"></use>
            </svg>
            <img src="assets/images/cvp-logo-footer.png" alt="" class="footer__logo-img-fallback">
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__social">
            <a class="footer__social-item" href="https://vk.com/centrvp_voenniy_bilet">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_vk"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-vk"></i>
            </a>
            <a class="footer__social-item" href="https://www.facebook.com/groups/569063339957441/about">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_fb"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-facebook-f"></i>
            </a>
            <a class="footer__social-item" href="https://www.youtube.com/channel/UCujSx1JvknDILf9wQjDrObQ">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_youtube"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-youtube"></i>
            </a>
            <a class="footer__social-item" href="https://www.instagram.com/centrvp">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_ig"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-instagram"></i>
            </a>
          </div>
          <a class="footer__rechi" href="https://rechi.media/">
            <div class="footer__rechi-logo">
              <svg class="footer__rechi-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_rechi"></use>
              </svg>
              <img src="assets/images/logo-footer.png" alt="" class="footer__rechi-img-fallback">
            </div>
            <span class="footer__rechi-text">Разработка сайта: RECHI media</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <div class="success-popup popup mfp-hide" id="success-popup">
    <h2 class="success-popup__heading">Спасибо!</h2>
    <p class="success-popup__text">Благодарим за доверие.
      <br> Специалисты нашего центра свяжутся
      <br> с Вами в ближайшее время.</p>
  </div>



  <script src="assets/scripts/jquery-3.3.1.min.js" defer></script>
  <script src="assets/scripts/lazyload.min.js" async></script>
  <script src="assets/scripts/slick.min.js" defer></script>
  <script src="assets/scripts/autoresize.jquery.js" defer></script>
  <script src="assets/scripts/jquery.magnific-popup.min.js" defer></script>
  <script src="assets/scripts/modernizr-custom.js" async></script>
  <script src="assets/scripts/placeholders.min.js" async></script>
  <script src="assets/scripts/jquery.mask.min.js" defer></script>
  <script src="assets/scripts/validation-team.js" defer></script>
  <script src="assets/scripts/app.js" defer></script>
</body>

</html>