<!DOCTYPE html>
<html lang="Ru-ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Центр военного права в Уфе. 
  Контактный номер: 8 800 707 0582 (звонок бесплатный).">
  <title>Военный билет по состоянию здоровья. Законно.</title>
  <link rel="stylesheet" href="assets/styles/main.min.css">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter49980610 = new Ya.Metrika2({
            id: 49980610,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
          });
        } catch (e) {}
      });
      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";
      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks2");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/49980610" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
    crossorigin="anonymous"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
  </script>
</head>

<body class="body_contacts">
  <header class="header-burger">
    <div class="menu-bg"></div>
    <div class="menu-burger">⚌</div>
    <div class="menu-items">
      <div class="container container-burger">
        <a class="logo__burger" href="/index.html">
          <svg class="burger__img">
            <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
          </svg>
        </a>
        <div class="menu-wrapper">
          <a class="menu__link menu__link_include">О компании</a>
          <a class="menu__link" href="/docs.html">Правовая документация</a>
          <a class="menu__link" href="#questions">FAQ</a>
          <a class="menu__link" href="/contacts.html">Контакты</a>
        </div>
        <div class="submenu-wrapper">
          <a class="back-button">
            <i class="fas fa-arrow-left"></i> назад</a>
          <a class="menu__link" href="/history.html">История ЦВП</a>
          <a class="menu__link" href="/command.html">Команда</a>
        </div>
        <div class="phone phone_burger">
          <span class="phone__lead">звонок бесплатный</span>
          <div class="phone-number phone-number_burger">8 800 707 0582</div>
        </div>
      </div>
    </div>
  </header>
  <header class="header header_team">
    <div class="container container-header">
      <div class="header-content">
        <div class="logo">
          <a class="logo__link" href="/index.html">
            <svg class="logo__img">
              <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
            </svg>
          </a>
          <img src="assets/images/cvp-logo-fallback-grey.png" alt="" class="logo__img-fallback">
          <div class="logo-line"></div>
          <div class="phone">
            <span class="phone__lead">звонок бесплатный</span>
            <div class="phone-number">8 800 707 0582</div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav__item nav__item_include">
            <a class="nav__link nav__link_include">О компании</a>
            <ul class="nav__submenu">
              <li class="nav__submenu-item">
                <a href="/history.html" class="nav__link">История ЦВП</a>
              </li>
              <li class="nav__submenu-item">
                <a href="/command.html" class="nav__link">Команда</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/docs.html">Правовая документация</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="assets/documents/78qa.pdf">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contacts.html">Контакты</a>
          </li>
        </ul>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="https://vk.com/centrvp_voenniy_bilet ">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_vk"></use>
              </svg>
              <i class="social__img-fallback fab fa-vk"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/groups/569063339957441/about">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_fb"></use>
              </svg>
              <i class="social__img-fallback fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/channel/UCujSx1JvknDILf9wQjDrObQ">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_youtube"></use>
              </svg>
              <i class="social__img-fallback fab fa-youtube"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/centrvp">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_ig"></use>
              </svg>
              <i class="social__img-fallback fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="header__border"></div> -->
  </header>
  <section class="section contacts">
    <div class="map-bg"></div>
    <div class="map" id="map"></div>
    <div class="container container-contacts">
      <div class="contacts-content">
        <h2 class="contacts__heading">Работаем по всей
          <br> России</h2>
        <span class="contacts__phone">8 800 707 0582</span>
        <div class="contacts__adress">
          <h2 class="contacts__adress-heading">Адрес:</h2>
          <p class="contacts__adress-text">Уфа, ул.8 марта 34, Молодёжный, офис 52 </p>
          <p class="contacts__adress-hint">(5-й этаж) - договорной отдел
            <a class="contacts__adress-hint-link" value="54.73711599270419, 55.983348317679486">(показать на карте)</a>
          </p>
        </div>
        <div class="contacts__schedule">
          <h2 class="contacts__schedule-heading">График работы:</h2>
          <div class="contacts__schedule-item">
            <span class="contacts__schedule-text">пн-вт</span>
            <span class="contacts__schedule-time">10:00 – 18:00</span>
          </div>
          <div class="contacts__schedule-item">
            <span class="contacts__schedule-text">обед</span>
            <span class="contacts__schedule-time">13:00 – 14:00</span>
          </div>
        </div>
        <div class="contacts__footer">
          <h2 class="contacts__footer-heading">Всегда рады видеть
            <br> вас в нашем офисе</h2>
          <a href="#consult-popup" class="contacts__footer-button button">Назначить встречу</a>
          <span class="contacts__footer-hotline">Горячая линия:</span>
          <span class="contacts__footer-phone">8 800 707 05 82 (звонок бесплатный)</span>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer__left">
          <a class="footer__link footer__link-confidential" href="assets/documents/confidential.pdf">Политика конфиденциальности</a>
          <a class="footer__link footer__link-agrement" href="assets/documents/datausage.pdf">Согласие с рассылкой</a>
          <span class="footer__copyright">© 2018, «Центр Военного Права».</span>
        </div>
        <div class="footer__center">
          <div class="footer__logo">
            <svg class="footer__logo-img">
              <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_footer"></use>
            </svg>
            <img src="assets/images/cvp-logo-footer.png" alt="" class="footer__logo-img-fallback">
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__social">
            <a class="footer__social-item" href="https://vk.com/centrvp_voenniy_bilet">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_vk"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-vk"></i>
            </a>
            <a class="footer__social-item" href="https://www.facebook.com/groups/569063339957441/about">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_fb"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-facebook-f"></i>
            </a>
            <a class="footer__social-item" href="https://www.youtube.com/channel/UCujSx1JvknDILf9wQjDrObQ">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_youtube"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-youtube"></i>
            </a>
            <a class="footer__social-item" href="https://www.instagram.com/centrvp">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_ig"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-instagram"></i>
            </a>
          </div>
          <a class="footer__rechi" href="https://rechi.media/">
            <div class="footer__rechi-logo">
              <svg class="footer__rechi-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_rechi"></use>
              </svg>
              <img src="assets/images/logo-footer.png" alt="" class="footer__rechi-img-fallback">
            </div>
            <span class="footer__rechi-text">Разработка сайта: RECHI media</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <div class="success-popup popup mfp-hide" id="success-popup">
    <h2 class="success-popup__heading">Спасибо!</h2>
    <p class="success-popup__text">Благодарим за доверие.
      <br> Специалисты нашего центра свяжутся
      <br> с Вами в ближайшее время.</p>
  </div>
  <div class="consult-popup popup mfp-hide" id="consult-popup">
    <div class="feedback__form consult-popup__form">
      <div class="mfp-close">
        <div class="form-close-line form-close-line-1"></div>
        <div class="form-close-line form-close-line-2"></div>
      </div>
      <form id="consult-form" method="post">
        <input class="feedback__input feedback__input-name validate-name" type="text" name="name" placeholder="Ваше имя">
        <span class="warning-message">Имя должно быть больше двух символов на русском языке</span>
        <input class="feedback__input feedback__input-age validate-age" type="number" name="age" placeholder="Количество полных лет">
        <span class="warning-message">Возраст должен быть не более трех цифр</span>
        <input class="feedback__input feedback__input-phone validate-phone" type="text" name="phone" placeholder="Номер телефона">
        <span class="warning-message">Телефон должен быть в формате +7(***)*******</span>
        <button type="submit" class="feedback__submit button" name="submit">Перезвоните мне</button>
      </form>
      <p class="feedback__legal-text">Нажимая на кнопку, вы даете согласие
        <br> на обработку персональных данных
        <br> и соглашаетесь с политикой конфиденциальности.</p>
    </div>
  </div>


  <script src="assets/scripts/jquery-3.3.1.min.js" defer></script>
  <script src="assets/scripts/lazyload.min.js" async></script>
  <script src="assets/scripts/slick.min.js" defer></script>
  <script src="assets/scripts/autoresize.jquery.js" defer></script>
  <script src="assets/scripts/jquery.magnific-popup.min.js" defer></script>
  <script src="assets/scripts/modernizr-custom.js" async></script>
  <script src="assets/scripts/placeholders.min.js" async></script>
  <script src="assets/scripts/jquery.mask.min.js" defer></script>
  <script src="assets/scripts/validation-contacts.js" defer></script>
  <script src="assets/scripts/yandexmap.js" defer></script>
  <script src="assets/scripts/app.js" defer></script>
</body>

</html>