<!DOCTYPE html>
<html lang="Ru-ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Ознакомьтесь со всей необходимой документацией по работе нашего центра и будьте уверены в компетентности наших действий.">
  <title>Технология медицинского обследования</title>
  <link rel="stylesheet" href="assets/styles/main.min.css">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter49980610 = new Ya.Metrika2({
            id: 49980610,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
          });
        } catch (e) {}
      });
      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";
      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks2");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/49980610" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="header-burger">
    <a class="logo__burger logo__burger_outer" href="/index.html">
      <svg class="burger__img">
        <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
      </svg>
    </a>
    <div class="menu-bg"></div>
    <div class="menu-burger">⚌</div>
    <div class="menu-items">
      <div class="container container-burger">
        <a class="logo__burger" href="/index.html">
          <svg class="burger__img">
            <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
          </svg>
        </a>
        <div class="menu-wrapper">
          <a class="menu__link menu__link_include">О компании</a>
          <a class="menu__link" href="/docs.html">Правовая документация</a>
          <a class="menu__link" href="#questions">FAQ</a>
          <a class="menu__link" href="/contacts.html">Контакты</a>
        </div>
        <div class="submenu-wrapper">
          <a class="back-button">
            <i class="fas fa-arrow-left"></i> назад</a>
          <a class="menu__link" href="/history.html">История ЦВП</a>
          <a class="menu__link" href="/command.html">Команда</a>
        </div>
        <div class="phone phone_burger">
          <span class="phone__lead">звонок бесплатный</span>
          <div class="phone-number phone-number_burger">8 800 707 0582</div>
        </div>
      </div>
    </div>
  </header>
  <header class="header header_team">
    <div class="container container-header">
      <div class="header-content">
        <div class="logo">
          <a class="logo__link" href="/index.html">
            <svg class="logo__img">
              <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_menu"></use>
            </svg>
          </a>
          <img src="assets/images/cvp-logo-fallback.png" alt="" class="logo__img-fallback">
          <div class="logo-line"></div>
          <div class="phone">
            <span class="phone__lead">звонок бесплатный</span>
            <div class="phone-number">8 800 707 0582</div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav__item nav__item_include">
            <a class="nav__link nav__link_include">О компании</a>
            <ul class="nav__submenu">
              <li class="nav__submenu-item">
                <a href="/history.html" class="nav__link">История ЦВП</a>
              </li>
              <li class="nav__submenu-item">
                <a href="/command.html" class="nav__link">Команда</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/docs.html">Правовая документация</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="assets/documents/78qa.pdf">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contacts.html">Контакты</a>
          </li>
        </ul>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="https://vk.com/centrvp_voenniy_bilet ">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_vk"></use>
              </svg>
              <i class="social__img-fallback fab fa-vk"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/groups/569063339957441/about">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_fb"></use>
              </svg>
              <i class="social__img-fallback fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/channel/UCujSx1JvknDILf9wQjDrObQ">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_youtube"></use>
              </svg>
              <i class="social__img-fallback fab fa-youtube"></i>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/centrvp">
              <svg class="social__img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_ig"></use>
              </svg>
              <i class="social__img-fallback fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="header__border"></div> -->
  </header>

  <section class="docs-head">
    <div class="container">
      <div class="docs-head__content">
        <h1 class="docs-head__heading">Правовая
          <br> документация</h1>
        <p class="docs-head__text">Здесь вы можете найти всю необходимую
          <br> документацию о работе нашего Центра</p>
      </div>
    </div>
  </section>
  <section class="docs-list">
    <div class="container">
      <div class="docs__item docs__item_contract">
        <h2 class="docs__item-heading">Образец
          <br>
          <span style="color: #ffb900">двустороннего</span>
          <br> договора</h2>
        <div class="docs__item-content">
          <p class="docs__item-text">Мы являемся сторонниками прозрачного взаимодействия с клиентом, поэтому будем рады, если вы ознакомитесь с типовым
            договором об услугах нашего Центра и примете для себя правильное решение.</p>
          <a href="assets/documents/dogovor.pdf" class="docs__item-button button">Открыть</a>
        </div>
      </div>
      <div class="docs__item docs__item_license">
        <div class="docs__item-header">
          <h2 class="docs__item-heading">
            <span style="color: #ffb900">Независимая</span> военно—
            <br>врачебная экспертиза</h2>
          <p class="docs__item-lead">Компания имеет официальную лицензию на проведение НВВЭ и оказывает полный комплекс медицинского обслуживания</p>
        </div>
        <div class="docs__item-content">
          <ul class="docs__item-list">
            <a href="assets/images/license_1.jpg" class="docs__item-wrap">
              <div class="docs__zoom">
                <svg class="social__img">
                  <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#zoom"></use>
                </svg>
              </div>
              <img src="assets/images/license_1.jpg" alt="" class="docs__item-img">
            </a>
            <a href='assets/images/license_2.jpg' class="docs__item-wrap">
              <div class="docs__zoom">
                <svg class="social__img">
                  <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#zoom"></use>
                </svg>
              </div>
              <img src="assets/images/license_2.jpg" alt="" class="docs__item-img">
            </a>
            <a href="assets/images/license_3.jpg" class="docs__item-wrap">
              <div class="docs__zoom">
                <svg class="social__img">
                  <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#zoom"></use>
                </svg>
              </div>
              <img src="assets/images/license_3.jpg" alt="" class="docs__item-img">
            </a>
          </ul>
          <div class="docs__item-progress">
            <a class="docs__item-progress-item docs__item-progress-item-1 docs__item-progress-item-active">
              <div class="docs__item-progress-bar docs__item-progress-bar-1"></div>
            </a>
            <a class="docs__item-progress-item docs__item-progress-item-2">
              <div class="docs__item-progress-bar docs__item-progress-bar-2"></div>
            </a>
            <a class="docs__item-progress-item docs__item-progress-item-3">
              <div class="docs__item-progress-bar docs__item-progress-bar-3"></div>
            </a>
          </div>
          <div class="docs__item-arrows">
            <div class="docs__item-arrow docs__item-arrow-left">
              <div class="docs__item-arrow-bg"></div>
              <svg class="docs__item-arrow-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow-left"></use>
              </svg>
              <img src="assets/images/line-left-blue.png" alt="" class="docs__item-arrow-img-fallback">
            </div>
            <div class="docs__item-arrow docs__item-arrow-right">
              <div class="docs__item-arrow-bg"></div>
              <svg class="docs__item-arrow-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow-right"></use>
              </svg>
              <img src="assets/images/line-right-blue.png" alt="" class="docs__item-arrow-img-fallback">
            </div>
          </div>
        </div>
      </div>
      <div class="docs__item docs__item_schedule">
        <div class="docs__item-header">
          <h2 class="docs__item-heading">Расписание болезней
            <span style="color: #ffb900">2018</span>*</h2>
          <p class="docs__item-legaltext">*Приложение к постановлению №565 «Положение
            <br> о военно-врачебной экспертизе» от 4.07.2013 г.</p>
        </div>
        <div class="docs__item-content">
          <p class="docs__item-text">Мы собрали перечень заболеваний, при наличии которых не берут в армию. Некоторые из них гарантируют освобождение
            от призыва, другие - ограничивают годность для определенных родов войск или обеспечивают отсрочку.</p>
          <a class="docs__item-button button" href="assets/documents/schedule.pdf">Открыть</a>
        </div>
      </div>
      <div class="docs__item docs__item_reg">
        <div class="docs__item-header">
          <h2 class="docs__item-heading">
            <span style="color: #ffb900">Государственная</span> регистрация</h2>
          <p class="docs__item-lead">Компания Центр военного права осуществляет свою
            <br> деятельность на законных основаниях. Проверить эту
            <br>информацию можно на сайте.</p>
          <a class="docs__item-button button" href="https://egrul.nalog.ru/">egrul.nalog.ru</a>
        </div>
        <div class="docs__item-content">
          <img src="assets/images/docs_reg.png" alt="" class="docs__item-picture">
        </div>
      </div>
    </div>
  </section>
  <section class="history-form history-form_docs">
    <div class="container">
      <div class="history-form__content">
        <div class="history-form__info">
          <h2 class="history-form__info-heading">Желаете получить
            <br>
            <span style="color: #ffb900">бесплатную</span>
            <br>консультацию
            <br>по телефону?</h2>
        </div>
        <div class="history-form__wrapper">
          <form method="post" id="docs-form">
            <input class="feedback__input feedback__input-name validate-name-docs" type="text" name="name" placeholder="Ваше имя">
            <span class="warning-message">Имя должно быть больше двух символов на русском языке</span>
            <input class="feedback__input feedback__input-phone validate-phone-docs" type="text" name="phone" placeholder="Ваш номер телефона">
            <span class="warning-message">Телефон должен быть в формате +7(***)*******</span>
            <a class="feedback__submit button" href="#success-popup" name="submit">Получить консультацию</a>
          </form>
          <p class="history-form__legaltext">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности.</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer__left">
          <a class="footer__link footer__link-confidential" href="assets/documents/confidential.pdf">Политика конфиденциальности</a>
          <a class="footer__link footer__link-agrement" href="assets/documents/datausage.pdf">Согласие с рассылкой</a>
          <span class="footer__copyright">© 2018, «Центр Военного Права».</span>
        </div>
        <div class="footer__center">
          <div class="footer__logo">
            <svg class="footer__logo-img">
              <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_footer"></use>
            </svg>
            <img src="assets/images/cvp-logo-footer.png" alt="" class="footer__logo-img-fallback">
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__social">
            <a class="footer__social-item" href="https://vk.com/centrvp_voenniy_bilet">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_vk"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-vk"></i>
            </a>
            <a class="footer__social-item" href="https://www.facebook.com/groups/569063339957441/about">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_fb"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-facebook-f"></i>
            </a>
            <a class="footer__social-item" href="https://www.youtube.com/channel/UCujSx1JvknDILf9wQjDrObQ">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_youtube"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-youtube"></i>
            </a>
            <a class="footer__social-item" href="https://www.instagram.com/centrvp">
              <svg class="footer__social-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_ig"></use>
              </svg>
              <i class="footer__social-img-fallback fab fa-instagram"></i>
            </a>
          </div>
          <a class="footer__rechi" href="https://rechi.media/">
            <div class="footer__rechi-logo">
              <svg class="footer__rechi-img">
                <use xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo_rechi"></use>
              </svg>
              <img src="assets/images/logo-footer.png" alt="" class="footer__rechi-img-fallback">
            </div>
            <span class="footer__rechi-text">Разработка сайта: RECHI media</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <div class="success-popup popup mfp-hide" id="success-popup">
    <h2 class="success-popup__heading">Спасибо!</h2>
    <p class="success-popup__text">Благодарим за доверие.
      <br> Специалисты нашего центра свяжутся
      <br> с Вами в ближайшее время.</p>
  </div>

  <script src="assets/scripts/jquery-3.3.1.min.js" defer></script>
  <script src="assets/scripts/lazyload.min.js" async></script>
  <script src="assets/scripts/slick.min.js" defer></script>
  <script src="assets/scripts/autoresize.jquery.js" defer></script>
  <script src="assets/scripts/jquery.magnific-popup.min.js" defer></script>
  <script src="assets/scripts/modernizr-custom.js" async></script>
  <script src="assets/scripts/placeholders.min.js" async></script>
  <script src="assets/scripts/jquery.mask.min.js" defer></script>
  <script src="assets/scripts/validation-docs.js" defer></script>
  <script src="assets/scripts/app.js" defer></script>
</body>

</html>